/*
Author: Emily Johnson
Date: February 18, 2024
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  padding: 2%;
  text-align: right;
  font-family: "The Nautigal", cursive;
  color: #90aeb2;
}

body {
  font-family: "Italiana", sans-serif;
  background-color: #EEE6DE;
}

nav ul {
  list-style-type: none;
  text-align: center;
  max-width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

nav ul:link {
  color: #EEE6DE;
}

nav ul:visited {
  color: #37514D;
}

  nav li {
    display: block;
    font-size: 1em;
    font-weight: lighter;
    border-top-width: 0.5px;
  }

  nav li a {
    display: block;
    padding: 8px;
    background-color: #B6594C;
  }

aside {
  display: block;
  text-align: center;
  max-width: 100%;
}

figure {
  border: 2px solid #37514D;
  box-shadow: 4px 4px 6px #BE845E;
  margin: auto;
}

/* Style rules for footer content */
footer {
  font-family: Baskerville, Palatino, Arial;
  text-align: center;
  font-size: 0.85em;
  background-color: #B6594C;
  color: #EEE6DE;
  padding: 0 1%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {

  /* Style rules for table */
  table {
    border: none;
    margin: 0 auto;
  }

  tr:nth-child(even) {
    background-color: #B6594C;
  }

  .grid {
    display: grid;
    grid-template-columns: none;
    grid-gap: 5px;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {

  body {
    background: linear-gradient(to bottom right, #DD8E75, #EEE6DE) fixed; /* The gradient was repeating so I had to look up how to stop that. https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats */
  }
}

/* Media Query for Print */
@media print {

  body {
    background-color: white;
    color: black;
  }
}